<form  class="cmxform" id="addItemt" name="addItem" method="post" action="/addItem">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Put your text</label>
        <textarea class="form-control" title="" name="itemText" id="itemText" rows="3"></textarea>
        <input class="btn btn-dark" type="submit" value="Submit">
    </div>
    </div>
</form>